span.icon{
	display: inline-block;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-position: center;
}

span.icon.smile{
	width:46px;
	height: 46px;
	background-size:46px;
	background-image: url('../images/icons/smile.svg');
}

span.icon.left-arrow{
	width:30px;
	height: 30px;
	background-size: 30px;
	background-image: url('../images/icons/left-arrow.svg');
}

span.icon.plus{
	width:14px;
	height: 14px;
	background-size:14px;
	background-image: url('../images/icons/plus.svg');
}

span.icon.minus{
	width:16px;
	height: 16px;
	background-size:16px;
	background-image: url('../images/icons/minus.svg');
}

span.icon.cafe{background-image: url('../images/icons/cafe.svg');}
span.icon.restaurant{background-image: url('../images/icons/restaurant.svg');}
span.icon.bar{background-image: url('../images/icons/bar.svg');}
span.icon.hookah{background-image: url('../images/icons/hookah.svg');}
span.icon.breakfast{background-image: url('../images/icons/breakfast.svg');}
span.icon.special-offers{background-image: url('../images/icons/special-offers.svg');}

.menu{
	position: relative;
	width:100%;
	height: 100%;
	padding-right: 280px;
}

.menu a{outline: none;}
.menu i{font-style: normal;}

.selected-items{
	position: fixed;
	top:0;
	right: 0;
	width: 280px;
	height: 100%;
	padding:10px;
	background-color:#000000;
	z-index: 99999;
}

.selected-items > img{
	margin-bottom: 10px;
	border-radius: 4px;
}

.receipt{
	position: relative;
	height: calc(100% - 147px);
	overflow: hidden;
	font-size: 13px;
	color:#2a2a2a;
	padding:12px 15px 58px 15px;
	background-color: #ffffff;
	border-radius: 3px;
}

.table-title{
	font-family: 'Gotham';
	font-size: 12px;
}

.language{
	overflow: hidden;
	margin-bottom: 10px;
}

.language img{
	display: inline-block;
	vertical-align: middle;
	margin:0 5px 0 0;
}

.language a{
	float: left;
	width:48%;
	color:#121212;
	font-size: 13px;
	text-align: center;
	padding:10px;
	margin-left:4%;
	background-color:#fafafa;
	border-radius: 3px;
}

.language a.active{
	background-color:#ffce22;
	-webkit-box-shadow: inset 0 0 3px #121212;
	-moz-box-shadow: inset 0 0 3px #121212;
	box-shadow: inset 0 0 3px #121212;
}

.language a:nth-child(2n+1){margin-left: 0;}

.Georgian{display: none;}

.receipt td{padding:5px 0;}

.receipt td:nth-child(1){width:63%;}
.receipt td:nth-child(2){width:17%;}
.receipt td:nth-child(3){width:20%;}

.receipt td:nth-child(2){text-align: center;}
.receipt td:nth-child(3){text-align: right;}
.receipt tr[itemname="discount"] td:nth-child(2){text-align: right;}

.inner-receipt{
	width:100%;
	height: 100%;
	overflow-y: auto;
}

.thanks{
	position: absolute;
	bottom:0;
	left:0;
	width:100%;
	font-size: 13px;
	text-align: center;
	padding:8px 0;
	background-color: #f1f1f1;
}

.thanks a{color:darkorange;}

.menu-box{
	height:0;
	overflow: hidden;
	visibility: hidden;
	opacity: 0;
	-webkit-transition:all .5s ease-in-out;
	-moz-transition:all .5s ease-in-out;
	transition:all .5s ease-in-out;
}

.menu-box.active{
	height:auto;
	overflow: visible;
	visibility: visible;
	opacity: 1;
}

.menu-items{padding:15px 15px 15px 80px;}

.menu-items h3 a{
	position: absolute;
	top:0;
	left:15px;
}

.menu-sidebar{
	position: fixed;
    top: 50%;
    left: -64px;
    width: 64px;
    height: 360px;
    margin-top: -180px;
	background-color: #000000;
	border-radius: 0 4px 4px 0;
    z-index: 9991;
    -webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}

.menu-sidebar.active{
	left:0;
	-webkit-transition:all .5s ease-in-out;
	-moz-transition:all .5s ease-in-out;
	transition:all .5s ease-in-out;
}

.menu-sidebar a{
	display: block;
    width: 54px;
	height: 54px;
	line-height: 54px;
    text-align: center;
    margin: 5px 0 0 5px;
    opacity: .6;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.menu-sidebar a.active{opacity: 1;}

.menu-sidebar span.icon{
	width:32px;
	height: 32px;
	background-size: 32px;
}

.categories{
	position: absolute;
	top:0;
	left:0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-between;
	width:calc(100% - 280px);
	height: 100vh;
	padding:2% 1%;
	opacity: 1;
	z-index: 10;
	-webkit-transition:all .6s ease-in-out;
	-moz-transition:all .6s ease-in-out;
	transition:all .6s ease-in-out;
}

.categories.hidden{
	opacity: 0;
	-webkit-transform:translateY(-100%);
	-moz-transform:translateY(-100%);
	transform:translateY(-100%);
	-webkit-transition:all .4s ease-in-out;
	-moz-transition:all .4s ease-in-out;
	transition:all .4s ease-in-out;
}

.categories a{
	position: relative;
	display: table;
	width:48%;
	height: 32%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 5px;
}

.categories a span{
	display: table-cell;
	vertical-align: middle;
	font-size: 40px;
	text-align: center;
	text-shadow: 0 0 4px #121212;
}

.categories a span i{font-style: normal;}

.item{
	position: relative;
	overflow: hidden;
	max-width: 400px;
	font-size: 13px;
	text-align: center;
	margin: 0 auto 30px auto;
	border-radius: 4px;
}

.item.recommended::after{
	content:'';
	position: absolute;
	top:0;
	left:4px;
	width: 90px;
	height: 90px;
	background:url('../images/icons/recommended.png') no-repeat center;
	z-index: 99;
}

.item.new::after{
	content:'';
	position: absolute;
	top:0;
	left:1px;
	width: 80px;
	height: 80px;
	background:url('../images/icons/new.png') no-repeat center;
	z-index: 99;
}

.item.vegan::before{
	content:'';
	position: absolute;
	top:-3px;
	right:-3px;
	width: 90px;
	height: 90px;
	background:url('../images/icons/vegan.png') no-repeat center;
	z-index: 99;
	-webkit-transform:rotate(14deg);
	-moz-transform:rotate(14deg);
	transform:rotate(14deg);
}

.item h4{
	position: absolute;
	bottom:10px;
	left:15px;
	color:#ffce22;
	user-select: none;
}
.item h4 span{color:#4477bb;}

.inner-item{
	height: 200px;
	padding:20px 10px;
	background-color:#141414;
}

.item-description{color:#d4d4d4}

.add-item{
	position: absolute;
	bottom:15px;
	right:15px;
	display: block;
	width:38px;
	height: 38px;
	line-height: 36px;
	user-select: none;
	background-color: #6de845;
	border-radius: 50%;
}

.item-number{
	position: absolute;
    bottom: 16px;
    right: 61px;
    width: 34px;
    height: 34px;
    line-height: 30px;
    font-size: 15px;
	color: #ffffff;
	user-select: none;
    border: 2px dotted #ffcd22;
    border-radius: 50%;
}

.remove-item{
	position: absolute;
	bottom:15px;
	right:103px;
	width:38px;
	height: 38px;
	line-height: 38px;
	user-select: none;
	background-color: #ff6347;
	border-radius: 50%;
}

.add-item:active,
.remove-item:active{
	-webkit-transform:translateY(1px);
	-moz-transform:translateY(1px);
	transform:translateY(1px);
}

.promo{
	overflow: hidden;
	padding-top:15px;
	margin-top:5px;
	border-top:2px solid #2a2a2a;
}

.promo input{
	float: left;
	width:64%;
	border:1px dashed #121212;
}

.promo input:focus{border-style: solid;}

.promo a{
	float: right;
	min-width: 0;
	width:33%;
}

.promo h6{
	font-family: 'Muli';
	font-size: 12px;
	text-align: center;
	margin-bottom: 10px;
}

.promo b{font-family: 'Gotham';}

tr[itemname="discount"] svg{margin-right: 4px;}

tr[itemname="discount"]{
	-webkit-animation:colorChange 800ms ease-in-out infinite alternate;
	animation:colorChange 800ms ease-in-out infinite alternate;
}

@-webkit-keyframes colorChange {
  0% {color:#48a02b;font-weight: bold;}
  100% {color:#121212;font-weight: normal;}
}

@keyframes colorChange {
  0% {color:#48a02b;font-weight: bold;}
  100% {color:#121212;font-weight: normal;}
}

.thank-you{
	display: none;
	text-align: center;
	padding: 5px;
	margin-top: 15px;
	border: 2px solid #47a02a;
    border-radius: 4px;
}

.thank-you strong{font-family: 'Gotham';}

.thank-you svg{
	font-size: 16px;
	color:#47a02a;
}

.submit-bttn.changeable{background-color:#fd6969;}

.alert-box{
	position: absolute;
    top: 50%;
    left: 50%;
	width: 400px;
	text-align: center;
	color:#2e2e2e;
	padding:20px 10px 15px 10px;
	margin: -62px 0 0 -200px;
	background-color:#fefefe;
	border-radius: 4px;
}

.alert{
	font-size: 15px;
	color:#676565;
	padding-top:9px;
}

#result{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	overflow-y: auto;
	z-index: 9999999999;
}

#result > h2{
	-webkit-animation:orderColorChange 20s ease-in-out infinite alternate;
	animation:orderColorChange 20s ease-in-out infinite alternate;
}

.result-table td:not(:first-child){text-align: center;}

.result-table{
	max-width: 680px;
	overflow: hidden;
	margin:auto;
	border-radius: 5px;
}

@keyframes orderColorChange {
	0% {color:orange;}
	5% {color:white;}
	10% {color:dodgerblue;}
	15% {color:white;}
	20% {color:olivedrab;}
	25% {color:white;}
	30% {color:gold;}
	35% {color:white;}
	40% {color:grey;}
	45% {color:white;}
	50% {color:slateblue;}
	55% {color:white;}
	60% {color:tomato;}
	65% {color:white;}
	70% {color:lightblue;}
	75% {color:white;}
	80% {color:sandybrown;}
	85% {color:white;}
	90% {color:chocolate;}
	95% {color:white;}
	100% {color:darkorange;}
}
  
@-webkit-keyframes orderColorChange {
	0% {color:orange;}
	5% {color:white;}
	10% {color:dodgerblue;}
	15% {color:white;}
	20% {color:olivedrab;}
	25% {color:white;}
	30% {color:gold;}
	35% {color:white;}
	40% {color:grey;}
	45% {color:white;}
	50% {color:slateblue;}
	55% {color:white;}
	60% {color:tomato;}
	65% {color:white;}
	70% {color:lightblue;}
	75% {color:white;}
	80% {color:sandybrown;}
	85% {color:white;}
	90% {color:chocolate;}
	95% {color:white;}
	100% {color:darkorange;}
}

@media (max-width:740px){
	
	.menu{padding-right: 240px;}
	.selected-items{width:240px;}
	.categories{width:calc(100% - 240px);}
	.categories a{height: 32.5%;}
	.categories a span{font-size: 30px;}
	.menu-items h3 a{left:0;}
	.language a{
		font-size: 12px;
		padding:10px 5px;
	}
	.receipt{
		height: calc(100% - 136px);
		padding:12px 12px 35px 12px;
	}
	

}

@media (max-width:600px){

	.categories{
		width:100%;
		height: 100%;
	}

	.menu{padding-right: 0;}
	.categories a span{font-size: 25px;}
	.menu-items{padding-left: 67px;}
	.menu-items h3 a{left:-50px;}
	.item{margin-bottom:20px;}
	.section-wrapper.has-small-x-padding{padding:0 !important;}

	.item h4{
		left:0;
		width:100%;
		font-size: 27px;
		text-align: center;
	}

	.inner-item{
		height:auto;
		padding:20px 10px 70px 10px;
	}

	.selected-items,
	.item-number,
	.add-item,
	.remove-item{display: none;}

	.menu-sidebar{
		width:54px;
		height: 300px;
		margin-top:-150px;
	}

	.menu-sidebar a{
		width:44px;
		height: 44px;
		line-height: 44px;
	}

	.menu-sidebar span.icon,
	span.icon.left-arrow{
		width:26px;
		height: 26px;
		background-size:26px;
	}

}